

.content-list {
  background-color: white;
  min-height: 1000px;
  margin: 75px 100px;
  box-shadow: 0px 0px 10px 5px #ccc;
  padding: 60px 60px;
  &__main {
    min-height: 880px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  #main > .children {
    margin-left: 0;
  }
}
