# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# sources are in scss
src/css/*.css

# misc
.DS_Store
.env
npm-debug.log
